
<input type="checkbox" class="toggler" id="menu-toggle">
    <div class="hamburger"><div></div></div>
    <div class="menu">
        <div>
            <ul>
                <li><a routerLink="" id="resume-link" onclick="document.getElementById('menu-toggle').checked = false">Resume</a></li>
                <li><a href='#about-section-container' onclick="document.getElementById('menu-toggle').checked = false">About</a></li>
                <li><a href='#abilities-section-container' onclick="document.getElementById('menu-toggle').checked = false">Abilities</a></li>
                <li><a href='#projects-section-container' onclick="document.getElementById('menu-toggle').checked = false">Projects</a></li>
                <li><a href='#contact-section-container' onclick="document.getElementById('menu-toggle').checked = false">Contact</a></li>
                <li><a href='#' onclick="document.getElementById('menu-toggle').checked = false">Main Menu</a></li>
            </ul>
        </div>
    </div>
