<!--The content below is only a placeholder and can be replaced.-->
<div id="nav-container">
  <app-nav-menu></app-nav-menu>
</div>
<div id="headline-container">
  <app-headline></app-headline>
</div>
<div id="about-section-container">
  <app-about-section></app-about-section>
</div>
<div id="abilities-section-container">
  <app-abilities-section></app-abilities-section>
</div>
<div id="projects-section-container">
  <app-projects-section [slides]="slides"></app-projects-section>
</div>
<div id="contact-section-container">
  <app-contact-section></app-contact-section>
</div>