
    <div id="about-stats">
        <img src="..\assets\images\fight-profile.png" alt="Fighter Profile Picture"/>
        <div id="stats-container">
            <h1>MICHAEL YOUNG</h1>
            <h2>DATE OF BIRTH: <span style="color: rgba(34,158,230,1)">12/04/1989</span></h2>
            <h2>HEIGHT: <span style="color: rgba(34,158,230,1)">6'0'</span></h2>
            <h2>WEIGHT: <span style="color: rgba(34,158,230,1)">MORE THAN DESIRED</span></h2>
            <h2>BLOOD TYPE: <span style="color:red">RED</span></h2>
        </div>
    </div>  
    <div>
        <p>
            Having just completed an intensive bootcamp through LaunchCode, Michael comes bearing 
            skills in Java, Spring Boot, MySQL, and Angular. This knowledge, as well as the 
            skills he developed through a BA in Linguistics, give him an edge in quickly gaining 
            proficiency in any additional technologies that may be required for the job.  
        </p>
    </div>


